apiVersion: v1
kind: Service
metadata:
  name: {{ include "interview.fullname" . }}
  labels:
    {{- include "interview.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8081
      protocol: TCP
      targetPort: 8081
  selector:
    app.kubernetes.io/name: {{ include "interview.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}

